PORT=8000
MONGODB_URI=mongodb+srv://uttam16shikhar:lPkRLq973zhqMXVs@dungeon.nemsfn3.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=SKMNFNSDKJNFsdnfnsdfkn234j2k3qn45n
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=b31bn3vvHGHKHJBVHJ132234243bbsd
REFRESH_TOKEN_EXPIRY=10d